@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
:root{
  --text-color: #ffeba7;
  --background-color: #053B50;
  --borderxd: solid white 2px;
  --color-contraste: #64CCC5;
  --link-color: #007bff;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(31, 4, 151) !important;
  border-radius: 5px;

}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: var(--text-color);
	background-color: var(--background-color);
  background-image: url(img/fondo3.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
a{
  color: var(--link-color);
}
.sidebar{
  position: fixed;
  background: var(--background-color);
  width: 220px;
  height: 100%;
  padding: 10px;
  transition: 0.5s;
  white-space: nowrap;
}
.sidebar.close{
  width: 50px;
}
section .sidebar .bar-start{
  position: relative;
  right: 6px;
  display: flex;
  width: 200px;
  height: 60px;
}
section .sidebar.close .bar-start .personal{
  opacity: 0;
}
section .sidebar .bar-start .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  text-decoration: none;
  font-size: 2.3em;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}
section .sidebar .bar-start .personal{
  transition: 0.5s;
  white-space: nowrap;
  height: 40px;
  display: flex;
  padding: 10px;
  justify-content: center;
  flex-flow:column;
  align-items: space-between;
}
section .sidebar .arrow{
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #64CCC5;
  position: absolute;
  top: 25px;
  left: 225px;
  cursor: pointer;
  transition: 0.5s;
  transform: rotateY(-180deg);
}
section .sidebar.close .arrow{
  transform: translateX(-155px);
}
section .sidebar .bar-menu{
  margin: 0;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-between;

}
section .sidebar .bar-menu ul{
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
}
section .sidebar .bar-menu ul li , section .sidebar .bar-end li{
  font-weight: 500;
  height: 50px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 18px;
}
section .sidebar .bar-menu ul li a , section .sidebar .bar-end li a{
  text-decoration: none;
  position: relative;
  left: 15px;
}
section .sidebar .bar-menu ul li a i{
  transition: 0.5s;
}
section .sidebar .bar-menu ul li a span , section .sidebar .bar-end li a span{
  transition: 0.5s;
}
section .sidebar.close .bar-menu ul li a span , section .sidebar.close .bar-end li a span{
  opacity: 0;
}
section .sidebar .bar-menu ul li:hover, section .sidebar .bar-end .logout:hover{
  background-color: var(--color-contraste);
}
section .sidebar .bar-menu ul li:hover a, section .sidebar .bar-end .logout:hover a{
  color: white;
}
section .sidebar.close .bar-menu .bar-links ul li a span, section .sidebar.close .bar-end .logout a span{
  display: none;
}
section .sidebar .bar-menu .bar-end{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: nowrap column;
  margin-bottom: 15px;
}









/*main{
  border: var(--borderxd);
  overflow: auto;
  padding: 10px;
  height: calc(100vh - 40px);
  width: calc(100% - 280px);
  position: relative;
  left: 250px;
  top: 10px;
  transition: 0.5s;
}
main.close{
  transform: translateX(-145px);
  width: calc(100% - 130px);
}*/
main{
  position: absolute;
  width: calc(100% - 280px);
  margin-top: 20px;
  margin-left: 270px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap column;
  margin-right: 20px;
}
main.close{
  width: calc(100% - 125px);
  margin-left: 110px;
}

main.close .fotos, main .fotos{
  width: 75vw;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: nowrap column;
  transition: 0.5s;
}
main .fotos .foto-portada{
  width: 100%;
  height: 100%;
  border: #EEEEEE solid 2px;
  border-radius: 6px;
  z-index: 0;
}
main .fotos .contenedor-foto-perfil{
  position: relative;
  bottom: 50px;
  width: calc(100% - 500px);
  display: flex;
  align-items: flex-start;

}
main .name{
  position: relative;
  top: 50px;
  left: 35px;
  width: 100%;
}
main.close  .fotos .foto-perfil, main  .fotos .foto-perfil{
  position: relative;
  right: -30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: #EEEEEE solid 2px;
  transition: 0.5s;
}

main .fotos .button-portada{
  transition: 0.4s;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 2em;
  display: none;
  left: 0;
  top: 0;
  background-color: white;
  border-radius: 2px;
  border: none;
}
main .button-portada:hover, main .contenedor-foto-perfil .button-perfil:hover{
  background-color: rgb(134, 134, 134);
  cursor: pointer;
  transition: 0.4s;
}
main .fotos .foto-portada:hover ~ .button-portada, main .fotos .button-portada:hover{
  display: flex;
  align-items: center;
  justify-self: center;
}
main .fotos .button-perfil{
  transition: 0.4s;
  width: auto;
  height: auto;
  position: absolute;
  top: 18px;
  left: 28px;
  font-size: 2em;
  display: none;
  background-color: white;
  border-radius: 50%;
  border: none;
}
main .fotos .foto-perfil:hover ~ .button-perfil, main .fotos .button-perfil:hover{
  display: flex;
  align-items: center;
  justify-self: center;
}
main .form-fotos{
  display: none;
}
section.seccion-perfil-usuario{
  font-size: 1.2em;
  margin-top: 200px;
  background-color: #616161b2;
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 6px;
}
section.seccion-perfil-usuario .perfil-usuario-footer{
  display: flex;
  justify-content: space-between;
}
section.seccion-perfil-usuario ul.lista-datos{
  list-style: none;
  padding: 0;
  width: 500px;
}
section.seccion-perfil-usuario .perfil-usuario-body .perfil-usuario-bio .texto{
  margin: 0;
}